* {
  box-sizing: border-box;
}

body {
  background-color: #c3dfe0;
}

img {
  height: 100px;
  border-radius: 30px;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  border: 2px solid rgb(81, 174, 143);
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 20px;
}

.button-container {
  margin-bottom: 10px;
}

input {
  /* text-align: center; */
  border: transparent;
  outline: none;
}

input::placeholder {
  /* font-size: 20px; */
}

.input-div {
  display: flex;
  background-color: white;
}
