.container-1 {
  padding: 30px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}

.container-1 div {
  border: 2px solid black;
  width: 100px;
}

.box-1 {
  height: 140px;
  /* flex-grow: 1;
  width: 100px; */
}
.box-2 {
  height: 100px;
  /* flex-grow: 3; */
}
.box-3 {
  height: 120px;
  /* flex-grow: 1; */
  margin-left: auto;
}

/* 100 -> 100/5 = 20 -> box 2 will get 3*20 = 60 */
