* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #7507a0, #d24636);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* background-color: white; */
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #f7e3ff, #fa7c6e);
}

.heading {
  text-align: center;
}

.form {
  /* padding: 30px; */
}

.form-control {
  margin-bottom: 20px;
  position: relative;
}

.form-control input {
  display: block;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #d19ae6;
  padding: 10px;
  font-size: 14px;
}

button {
  display: block;
  width: 100%;
  background-image: linear-gradient(to right, #7507a0, #d24636);
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin-top: 40px;
  color: white;
}

button:hover {
  background-color: #9471a2;
  cursor: pointer;
}

.form-control.success input {
  border-color: #2bb344;
}

.form-control.success i.fa-check-circle {
  color: #2bb344;
  visibility: visible;
}

.form-control.failure input {
  border-color: #f45f57;
}

.form-control i {
  position: absolute;
  top: 30px;
  right: 9px;
  visibility: hidden;
}

small {
  color: #f45f57;
  visibility: hidden;
}

.form-control.failure small {
  visibility: visible;
}

.form-control.failure i.fa-exclamation-circle {
  color: #f45f57;
  visibility: visible;
}
